////// Perks section ///////

.perks {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

%perks__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: left;
  height: 80px;
  padding-left: 90px;
  width: 220px;
  font-size: $text-epsilon;
  font-family: $text-sans;
  color: $color-canvas;
}

.perks__item1 {
  @extend %perks__item;
  background: url('../images/perk_years.png') no-repeat;
}

.perks__item2 {
  @extend %perks__item;
  background: url('../images/perk_types.png') no-repeat;
}

.perks__item3 {
  @extend %perks__item;
  background: url('../images/perk_budha.png') no-repeat;
}





////// Remedy section //////

%remedy__container {
  height: 75px;
  margin-bottom: 3px;
  max-width: 100%;
  font-family: $text-sans;
  color: $color-lightgreen;
}

.remedy__container--left {
  padding-right: 33%;
  @extend %remedy__container;
  text-align: left;
  background-image: linear-gradient(to right, transparent, rgba($color-lightgreen, .5) 15%, transparent 70%);
}

.remedy__container--right {
  padding-left: 33%;
  @extend %remedy__container;
  text-align: right;
  background-image: linear-gradient(to right, transparent 30%, rgba($color-lightgreen, .5) 85%, transparent);
}

%remedy__image {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: $color-lightgreen;
  background-size: cover;
  box-shadow: inset 0 0 0 3px $color-lightgreen,
              inset 0 0 0 6px $color-darkgreen;
}

.remedy__image--left {
  @extend %remedy__image;
  margin-bottom: -75px;
  margin-left: 75px;
  margin-right: 25px;
  float: left;
}

.remedy__image--right {
  @extend %remedy__image;
  margin-top: -75px;
  margin-right: 75px;
  margin-left: 25px;
  float: right;
}

.remedy__text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.remedy__image--bg1 { background-image: url("../images/tn_headache.jpg"); }
.remedy__image--bg2 { background-image: url("../images/tn_strain.jpg"); }
.remedy__image--bg3 { background-image: url("../images/tn_nervous_girl.jpg"); }
.remedy__image--bg4 { background-image: url("../images/tn_pressure.jpg"); }
.remedy__image--bg5 { background-image: url("../images/tn_obesity.jpg"); }
.remedy__image--bg6 { background-image: url("../images/tn_pregnancy.jpg"); }





////// Massage section //////
.description {
  margin: 5em 0;
}

.description__image {
  display: block;
  position: relative;
  z-index: -1;
  margin-left: -1em;
  max-width: 80%;
}

.description__container {
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid $color-darkgreen;
}

.description__header {
  background-color: $color-darkgreen;
  color: $color-canvas;
  margin: 0;
  padding: 0 1em;
  margin-top: -1.125em;
  font-weight: normal;
}

.description__text {
  margin-left: 2em;
  margin-right: 1em;
}

.description__details {
  text-align: right;
  margin-right: 2em;
}

.description__link {
  text-align: right;
}





////// Testimonials //////

.testimonial {
  color: $color-canvas;
}

.testimonial__image {
  background-color: $color-lightgreen;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  float: left;
  margin-right: 2em;
  margin-top: -75px;
  position: relative;
  z-index: 100;
}

.testimonial__name {
  font-weight: normal;
  padding: 0;
  padding-left: 180px;
  margin: 0;
}

.testimonial__email {
  margin: 0;
  padding-left: 180px;
}

.testimonial__text {
  position: relative;
  background-color: $color-mediumgreen;
  padding: 1.5em;
  padding-left: 180px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  z-index: 10;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: $color-mediumgreen;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5000px;
    z-index: -1;
    margin-left: -300px;
  }
}





////// Social links //////

.social {
  margin: 0;
  padding: 0;
}

.social__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
}

.social__link {
  display: block;
  margin: 0;
  margin-right: 0.5em;
  padding: 0;
  border: 1px solid $color-lightgreen;
  border-radius: 10px;
}

.social__image {
  width: 30px;
  height: 30px;
  display: block;
}
