.u-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.u-text-regular {
  font-weight: normal !important;
}

.u-text-sans {
  font-family: $text-sans !important;
}

.u-hidden {
  visibility: hidden !important;
}

.u-removed {
  display: none;
}

.u-opaque {
  opacity: 1 !important;
}

.u-nonebreak {
  white-space: pre;
}


////// Text color utilities //////

.u-text-colormedium {
  color: $color-mediumgreen !important;
}

.u-text-colorlight {
  color: $color-lightgreen !important;
}


////// Text positioning utilities //////

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-leftindent {
  margin-left: 1em !important;
}


////// Text sizes utilities //////

.u-text-alpha {
  font-size: $text-alpha !important;
}

.u-text-beta {
  font-size: $text-beta !important;
}

.u-text-gamma {
  font-size: $text-gamma !important;
}

.u-text-delta {
  font-size: $text-delta !important;
}
