////// General section //////

.l-body {
  background-color: $color-lightgreen;
  font-size: $text-zeta;
}

.l-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.l-streak {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100px;
    width: 5000px;
    background-color: $color-mediumgreen;
    margin-left: -2500px;
    z-index: -1;
  }
}





////// Personal section //////

.l-personal {
  overflow: hidden;
}

.l-background {
  position: relative;
  z-index: 1;
  padding-bottom: 3em;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    right: -50px;
    top: 0;
    bottom: 0;
    background-image: url("../images/Aleksandra-Lifer.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 42% auto;
    pointer-events: none;
  }
}

.l-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.l-buttons__button {
  display: inline-block;
  margin-right: 1em;

  &:last-child() {
    margin-right: 0;
  }
}





////// Remedy section //////

.l-remedy {
  background-color: $color-darkgreen;
  padding-top: 1px;
  padding-bottom: 3em;
}





////// Massage types //////

.l-types {
  overflow: hidden;
}
