////// General section //////

.l-body {
  background-color: $color-lightgreen;
  font-size: $text-zeta;
  position: relative;
}

.l-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em 2em 3em;
}

.l-streak {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5000px;
    background-color: $color-mediumgreen;
    margin-left: -2500px;
    z-index: -1;
  }
}

/* Medias */

@media screen and (max-width: 800px) {
  .l-container {
    padding: 1em 1em 1em;
  }
}





////// Personal section //////

.l-personal {
  overflow: hidden;
}

.l-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.l-buttons__button {
  display: inline-block;
  margin-right: 1em;

  &:last-child() {
    margin-right: 0;
  }
}


/* medias */

@media screen and (max-width: 530px) {
  .l-buttons {
    margin-top: 1em;
  }

  .l-buttons__button {
    margin-bottom: 1em;
  }
}






////// Remedy section //////

.l-remedy {
  background-color: $color-mediumgreen;
  padding-top: 1px;
  padding-bottom: 3em;
}





////// Massage types //////

.l-types {
  overflow: hidden;
}





////// Testimonials section //////

.l-testimonials {
  background-color: $color-darkgreen;
}





////// Contacts sectioon //////

.l-address {
  float: left;
  width: 39%;
}

.l-map {
  width: 59%;
  height: 300px;
  float: right;
  border: 2px solid $color-mediumgreen;
  border-radius: 10px;
  // pointer-events: none;
}

/* @medias */

@media screen and (max-width: 600px) {
  .l-address,
  .l-map {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }

  .l-map {
    border-width: 0;
    border-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 0;
  }
}
