p {
  font-size: $text-epsilon;
}

a {
  text-decoration: none;
  color: $color-blue;
}

.name {
  color: $color-gold;
  font-weight: bold;
  margin-bottom: 0;
  font-size: $text-alpha;
}

.caption {
  font-size: $text-delta;
  font-family: $text-sans;
  color: $color-mediumgreen;
  margin-top: 0;
}

.caption__brake {
  display: none;
}

.quote {
  width: 60%;
  margin-left: 1em;
}


/* medias */

@media screen and (max-width: 900px) {
  .quote {
    font-size: $text-zeta;
  }

  .caption {
    font-size: $text-epsilon;
  }
}

@media screen and (max-width: 768px) {
  .header-l1 {
    font-size: $text-beta;
  }
}

@media screen and (max-width: 680px) {
  .quote {
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  .header-l1 {
    font-size: $text-gamma;
  }

  .header-l3 {
    font-size: $text-delta;
  }
}

@media screen and (max-width: 530px) {
  .caption {
    font-size: $text-zeta;
  }

  .name {
    font-size: $text-gamma;
  }
}

@media screen and (max-width: 480px) {
  .header-l4 {
    font-size: $text-epsilon;
  }
}
